<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
    <script type=""text/javascript">
    window.onload = function() {
        let maizey_url = "{{ maizey_url }}";
        if(maizey_url) {
            window.open(maizey_url, '_blank')
        }
    }
    </script>
</head>

<body>
<div class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">LTI Redirect TOOL</a>
    {% if user.is_authenticated and user.is_superuser %}
    <a class="navbar-item" href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
    {% if user.is_authenticated %}
    <span class="navbar-user">{{ user.username }}</span>
    {% endif %}
</div>

<div class="body-content">
    {% block content %}
    {% if user.is_authenticated %}
     <a href="{{ maizey_url }}" target="_blank">Maizey Redirect URL</a>
    {% endif %}
    {% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2024  The Regents of the University of Michigan</p>
    </footer>
</div>
</body>
</html>