.message {
  font-weight: 600;
  color: blue;
}

.navbar {
  background-color: #00274C;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding: 8px 5px 8px 5px;
}

.navbar a {
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}
.navbar-user{
  font-size: 1em;
  font-weight: 600;
  padding-left: 30px;

}
.navbar-item {
  float: right;
  text-decoration: underline;
}

.body-content {
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
